<h1>Listing "Village-Activities"</h1>

<table class="table">
  <thead>
    <tr>
      <th>Village</th>
      <th>Activity</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @village_activities.each do |village_activity| %>
      <tr>
        <td><%= link_to village_activity.village_name, village_activity_path(village_activity) %></td>        
        <td><%= link_to village_activity.activity_name, village_activity_path(village_activity) %></td>
        <td><%= village_activity.start_date %></td>
        <td><%= village_activity.end_date %></td>
        <td><%= link_to 'Show', village_activity %></td>
        <td><%= link_to 'Edit', edit_village_activity_path(village_activity), class: "button tiny radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @village_activities, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />
