<h2>Listing Village-Activities</h2>

<% if logged_in? %>
  <p>If you would like a village to appear on the map, click on "Add a New Village-Activity" and associate that village with its appropriate activity.</p>
  <%= link_to "Add a New Village-Activity", new_village_activity_path, class: "button tiny radius" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Village</th>
      <th>Activity</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <% @village_activities.each do |village_activity| %>
    <tr>
      <td><%= link_to village_activity.village_name, village_path(village_activity.village) %></td>        
      <td><%= link_to village_activity.activity_name, activity_path(village_activity.activity) %></td>
      <td><%= village_activity.start_date.strftime('%m/%d/%y') if village_activity.start_date != nil %></td>
      <td><%= village_activity.end_date.strftime('%m/%d/%y') if village_activity.end_date != nil %></td>
      <td><%= link_to 'Show', village_activity_path(village_activity), class: "button tiny radius" %></td>
      <% if logged_in? %>
        <td><%= link_to 'Edit', edit_village_activity_path(village_activity), class: "button tiny radius" %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @village_activities, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />
