<h1>Listing villages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>District</th>
      <th>Taluka</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @villages.each do |village| %>
      <tr>
        <td><%= village.name %></td>
        <td><%= village.state %></td>
        <td><%= village.district %></td>
        <td><%= village.taluka %></td>
        <td><%= link_to 'Show', village %></td>
        <td><%= link_to 'Edit', edit_village_path(village), class: "button tiny radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />
