<h1>Listing villages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>State</th>
      <th>District</th>
      <th>Taluka</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @villages.each do |village| %>
      <tr>
        <td><%= village.name %></td>
        <td><%= village.longitude %></td>
        <td><%= village.latitude %></td>
        <td><%= village.state %></td>
        <td><%= village.district %></td>
        <td><%= village.taluka %></td>
        <td><%= link_to 'Show', village %></td>
        <td><%= link_to 'Edit', edit_village_path(village) %></td>
        <td><%= link_to 'Destroy', village, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Village', new_village_path %>
