<h2>Listing Villages</h2>

<%= link_to "Add a New Village", new_village_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Taluka</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @villages.each do |village| %>
      <tr>
        <td><%= link_to village.name, village %></td>
        <td><%= village.taluka %></td>
        <td><%= link_to 'Edit', edit_village_path(village), class: "button tiny radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @instructors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />
