<h2>Village Details</h2>

<p>
  <strong>Name:</strong>
  <%= @village.name %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @active_activities %>
</p>

<p>
  <strong>State:</strong>
  <%= @village.state %>
</p>

<p>
  <strong>District:</strong>
  <%= @village.district %>
</p>

<p>
  <strong>Taluka:</strong>
  <%= @village.taluka %>
</p>

<p>
  <strong>Active?</strong>
  <%= @village.active ? "Yes" : "No" %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_village_path(@village), class: "button tiny radius" %>
<% end %>
<%= link_to 'Back to All Villages', villages_path, class: "button tiny radius" %><br>
<% if logged_in? %>
  <%= link_to 'Destroy', @village, data: { confirm: 'Are you sure?' }, method: :delete, class: "button tiny round alert" %>
<% end %>