<%= simple_form_for(@activity, html: { class: 'form-horizontal' }) do |f| %>
  
  <h3><%= controller.action_name.capitalize %> Activity</h3>

  <fieldset>
      <%= f.input :name %>
      <%= f.input :active %>
    <div class="form-actions">
      <%= f.submit nil, class: 'button' %>
      <%= link_to 'Cancel', activities_path, :class => 'button secondary' %>
    </div>

    </fieldset>
<% end %>
